{% extends 'dpapp/base.html' %}
<title>{% block title%}Detail {% endblock title%}</title>
{% block navbar%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>

</style>




<div class="container">
    <!-- Searchbar -->
    <!-- <form class="d-flex mt-3">
        <input class="form-control me-2 fs-5 fw-light" type="search" placeholder="Search answers" aria-label="Search">
        <button class="btn btn-info text-light fw-bold" type="submit">Search</button>
    </form> -->
    <!-- End of search bar -->
    <!-- Body -->
    <div class="row mt-3 ">
        <div class="col border shadow-sm p-3 mx-3 mb-3">
            <div class="mt-1">
                <div class="bg-light mt-2 p-3 rounded-3  ">
                    <span class="fs-6 text-pinch">{{doubt.user.first_name}} {{doubt.user.last_name}} |
                        {{doubt.created_on}}</span>
                    <p class="h5 text-dark mt-2 mb-3">{{doubt.title}}</p>
                    {% if doubt.description != '' %}
                    <hr>
                    <div>
                        {{doubt.description|safe}}
                    </div>
                    {% endif %}
                </div>
            </div>


            <div class="reply-section">
                <p class="h4 text-muted my-3">{{doubt.total_replies}} Replies:</p>

                {% if answers.paginator.num_pages > 1 %}
                <div class="demo">
                    <nav class="pagination-outer" aria-label="Page navigation">
                        <ul class="pagination">
                           
                            {% for i in answers.paginator.page_range %}
                            {% if i == answers.number%}
                            <li class="page-item active me-1"><a class="page-link" href="#">{{i}}</a></li>
                            {% else %}
                                {% if 'heading_contains' in request.get_full_path %}  
                                <li class="page-item me-1"><a class="page-link" href="{{ request.get_full_path }}&page={{ i }}">{{ i }}</a></li>
                                {% else %}
                                <li class="page-item me-1 "><a class="page-link"  href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
    
                            
    
    
                        </ul>
                    </nav>
                </div>
                {%endif%}





                {% for i in answers%}
                <div class="border p-3 my-2">
                    <span class="fs-6 fw-bold"> <i class="fas fa-user-circle"></i> &nbsp;{{i.user.first_name}}
                        {{i.user.last_name}} <i class="fw-normal text-pinch">({{i.created_on}})</i></span>
                    <div class="my-2 mx-4" style="text-align: justify;">
                        {{i.description|safe}}
                    </div>

                </div>


                <div class="d-flex bd-highlight mb-3">

                    <div class="me-auto p-2 bd-highlight">
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-doubt btn-sm text-success me-1 px-3 fs-5 right-click" data-bs-toggle="tooltip" data-bs-html="true" title="<small>The answer was helpful.</small>"
                                data-answer="{{i.id}}"><i class="fas fa-check"></i></button>

                            <span class="h4 text-muted mx-1 point-count-{{i.id}}" class=>{{i.actual_vote}}</span>

                            <button class="btn btn-doubt btn-sm text-pinch px-3 fs-5 wrong-click"
                                data-answer="{{i.id}}" data-bs-toggle="tooltip" data-bs-html="true" title="<small>The answer wasn't helpful.</small>"><i class="fas fa-times"></i></button>

                        </div>
                    </div>

                    <div class="p-2 bd-highlight">
                        <div class="d-flex justify-content-center">
                            <a href="" class="btn btn-doubt btn-sm text-pinch disabled me-1"> 0 Comments</a>
                            <a href="" class="btn btn-doubt btn-sm text-pinch "><i class="fas fa-reply"></i>&nbsp;
                                Reply</a>

                        </div>

                    </div>
                </div>
                {% endfor %}
                <!-- Your reply -->

                <div class="mt-5">

                    <form method="post" enctype="multipart/form-data">
                        <hr>
                        {% csrf_token %}
                        {{form.as_p}}
                        <!-- <textarea id="summernote" name="editordata" required></textarea> -->
                        <div class="d-flex justify-content-end mt-3">
                            <button type="submit" class="btn btn-primary btn-sm col-2 fw-light"
                                onclick="return confirm ('You cannot edit the comment once it get published.')">Reply</button>
                        </div>
                    </form>
                </div>
                <!-- <div id="summernote"></div> -->

            </div>


        </div>
        <div class="col-lg-3 col-11 border shadow-sm mx-3 py-3 px-4 mb-3">
            <p class="fw-light fs-6 text-center">Related Questions</p>

            <a href="" class="text-pinch text-decoration-none fs-6">
                <p>How to start usability testing of a physical product? </p>
            </a>
            <!-- Repeatating -->
            <a href="" class="text-pinch text-decoration-none fs-6">
                <p>How to start usability testing of a physical product? </p>
            </a>
            <a href="" class="text-pinch text-decoration-none fs-6">
                <p>How to start usability testing of a physical product? </p>
            </a>
            <a href="" class="text-pinch text-decoration-none fs-6">
                <p>How to start usability testing of a physical product? </p>
            </a>
            <a href="" class="text-pinch text-decoration-none fs-6">
                <p>How to start usability testing of a physical product? </p>
            </a>
            <a href="" class="text-pinch text-decoration-none fs-6">
                <p>How to start usability testing of a physical product? </p>
            </a>
            <!-- End repetating -->



        </div>
    </div>

    <!-- end Body -->




</div>

<!-- Summernote -->

<script>
    var element = $("label[for=id_description]");
    element.text('Your comment:')

    $('.right-click').on('click', function () {
        var answerid = $(this).data('answer');
        console.log(answerid);



        $.ajax({
            url: "{% url 'dpapp:save-rpoint' %}",
            type: 'post',
            data: {
                answer_id: answerid,
                csrfmiddlewaretoken: "{{csrf_token}}"
            },
            dataType: 'json',
            success: function (res) {

                if (res.bool == true) {
                    $(".point-count-" + answerid).text(res.actualVote);
                    console.log(res.actualVote);
                }


            }
        });

    })

    $('.wrong-click').on('click', function () {
        var answerid = $(this).data('answer');

        $.ajax({
            url: "{% url 'dpapp:save-wpoint' %}",
            type: 'post',
            data: {
                answer_id: answerid,
                csrfmiddlewaretoken: "{{csrf_token}}"
            },
            dataType: 'json',
            success: function (res) {

                if (res.bool == true) {
                    $(".point-count-" + answerid).text(res.actualVote);
                    console.log(res.actualVote);
                }


            }
        });

    })

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})


</script>


{% endblock%}