{% extends 'dpapp/base.html' %}
{% load static %}

<title>{% block title%}Notifications {% endblock title%}</title>

{% block navbar%}
<link rel="stylesheet" href="{% static 'dpapp/css/paginate.css' %}">

<div class="container">
    <!-- Searchbar -->
    <!-- <form class="d-flex mt-3" method="GET" action="/app/search">
                <input class="form-control me-2 fs-5 fw-light" type="search" placeholder="Search doubts" name="query" 
                    aria-label="Search">
                <button class="btn btn-info text-light fw-bold" type="submit">Search</button>
            </form> -->
    <!-- End of search bar -->
    <!-- Body -->
    <div class="row mt-3 ">
        <div class="col border shadow-sm p-3 mx-3 mb-3">
            <p class="fw-light fs-4 text-center position-relative "><span class="noti-count">{{noti_count}}</span> unseen Notifications  </p>
         

            <div class="mt-1">
                <!--single line list with avtar -->
                <ul class="list-group bg-light">


                    {% for i in notifications%}
                    <li class="list-group-item d-flex align-items-center ">
                        
                        <div class="me-4">
                            <img alt="40x40" height="50" width="50" class="rounded-circle shadow" src="{{i.sender.ProfilePicUrl}}"
                                data-holder-rendered="true">
                        </div>
                        {% if i.doubt == null %}
                        {% if i.is_seen %}
                        <div class="me-2"><a class="text-decoration-none fw-light text-dark seen-click" data-nid={{i.id}} href="{% url 'dpapp:comment' i.answer.id %}">{{i.sender.first_name}} {{i.sender.last_name}} has commented on the answer you replied.</a> </div>

                        {%else%}
                        <div class="me-2 "><a class="text-decoration-none  seen-click " data-nid={{i.id}} href="{% url 'dpapp:comment' i.answer.id %}">{{i.sender.first_name}} {{i.sender.last_name}} has commented on the answer you replied.</a> </div>

                        {%endif%}

                        {% elif i.answer == null %}
                        {% if i.is_seen %}
                        <div class="me-2"><a class="text-decoration-none fw-light text-dark seen-click" data-nid={{i.id}} href="{% url 'dpapp:detail' i.doubt.id %}">{{i.sender.first_name}} {{i.sender.last_name}} has replied his solution to your doubt. </a> </div>
                        {%else%}
                        <div class="me-2 "><a class="text-decoration-none  seen-click " data-nid={{i.id}} href="{% url 'dpapp:detail' i.doubt.id %}">{{i.sender.first_name}} {{i.sender.last_name}} has replied his solution to your doubt. </a> </div>

                        {%endif%}


                        {% endif %}
                        <div class="ms-auto" >
                            <i class="fw-light text-pinch" style="font-size: 0.8em;">({{i.date}})</i>
                            
                        </div>
                    </li>
                    {% empty %}
                    <h3 class="text-center">No notifications.</h3>
                    {% endfor %}

                    

                    
                </ul>

            </div>
          





        </div>
        <!-- <div class="col-lg-4 col-11 border shadow-sm mx-3 py-3 px-4 mb-3">
            <p class="fw-light fs-6 text-center">New Questions</p>

            {% for i in newdoubts%}

            <a href="{% url 'dpapp:detail' i.id %}" class="text-pinch text-decoration-none fs-6">
                <p>{{i.title}}</p>
            </a>
            {% endfor %}



        </div> -->
    </div>

    <!-- end Body -->

    <!-- Footer -->
   
</div>
<script>
    $('.seen-click').on('click', function () {
        var noti_id = $(this).data('nid');
        console.log(noti_id);

        $.ajax({
            url: "{% url 'dpapp:notification_seen' %}",
            type: 'post',
            data: {
                notification_id: noti_id,
                csrfmiddlewaretoken: "{{csrf_token}}"
            },
            dataType: 'json',
            success: function (res) {

                if (res.bool == true) {
                    $(".noti-count").text(res.notificationCount);
                }


            }
        });
    })

</script>

{% endblock %}