{% extends 'dpapp/base.html' %}
{% load static %}
{% load bootstrap %}
<title>{% block title%}Profile {% endblock title%}</title>
{% block navbar%}
<link rel="stylesheet" href="{% static 'dpapp/css/paginate.css' %}">



<div class="container">
    <!-- Body -->
    <div class="row mt-3 ">
        <div class="col border shadow-sm p-3 mx-3 mb-3 order-lg-1  order-md-2 order-sm-2 order-2">
            <p class="fw-light fs-4 text-center">Recent Activities</p>
            {% for i in recent_activity %}
            {% if not i.title %}

            <div class="mt-1">
                <div class="bg-light mt-2 p-3 rounded-3  ">
                    <span class="fs-6 text-pinch ">You Answered to </span><br>
                    <span class="text-muted" style="font-size: 12px;">{{i.doubt.user.first_name}} {{i.doubt.user.last_name}} | {{i.created_on}}</span>

                    <p class="h6 text-dark mt-1 mb-3">{{i.description|safe}}</p>

                   
                </div>

                <div class="d-flex bd-highlight mb-3">
                    <div class="me-auto p-2 bd-highlight">
                        <!-- empty -->
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'dpapp:comment' i.id %}" class="btn btn-doubt btn-sm text-pinch  me-1"> {{i.comment_set.count}} Comments</a>
                            <a href="{% url 'dpapp:detail' i.doubt.id %}" class="btn btn-doubt btn-sm text-pinch  me-1">See doubt</a>

                        </div>

                    </div>
                </div>


            </div>
            {% else %}
            <!-- Repeatating -->
            <div class="mt-1">
                <div class="bg-light mt-2 p-3 rounded-3  ">
                    <span class="fs-6 text-pinch ">You posted </span><br>
                    <span class="text-muted" style="font-size: 12px;">{{i.created_on}}</span>

                    <p class="h6 text-dark mb-3 mt-1">{{i.title}}</p>

                    {% for tag in i.tags.all %}
                    <a href="{% url 'dpapp:tags' tag.slug %}"><span class="badge rounded-pill bg-purple fw-normal">{{tag.name}}</span></a>
                    {%endfor%}
                </div>

                <div class="d-flex bd-highlight mb-3">
                    <div class="me-auto p-2 bd-highlight">
                        <!-- empty -->
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="d-flex justify-content-center">
                            <a href="" class="btn btn-doubt btn-sm text-pinch disabled me-1"> {{i.total_replies}} Replies</a>
                            <a href="" class="btn btn-doubt btn-sm text-pinch disabled me-1"> {{i.views}} <i
                                    class="far fa-eye"></i></a>
                            <a href="{% url 'dpapp:detail' i.id %}" class="btn btn-doubt btn-sm text-pinch ">Take me to post</a>

                        </div>

                    </div>
                </div>


            </div>


            <!-- end Repeatating -->
            {%endif%}


            {% endfor %}
        </div>
        <div class="col-lg-4 col-11 border shadow-sm mx-3 py-3 px-4 mb-3 order-lg-2 order-md-1 order-sm-1 order-1">

            <div class="d-flex  justify-content-center">
                {% if not user.ProfilePicUrl == '' %}
                <div>

                    <img src="{{user.ProfilePicUrl}}" alt="pic" class="rounded-circle  shadow-sm" height="150"
                        width="150" style=" position: relative;
                           
                            left: 20px;">
                    <button type="button" class="btn btn-white" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        style=" font-size: 30px;
                            position: relative;
                            top: 48px;
                            left: -39px;">
                        <i class="fas fa-plus-circle text-pinch"></i>
                    </button>
                </div>
                {%else%}
                <div>

                    <img src="{% static 'accounts/pics/user.png' %}" alt="pic" class="rounded-circle shadow-sm" height="150"
                        width="150" style=" position: relative;
                           
                            left: 20px;">
                    <button type="button" class="btn btn-white" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        style=" font-size: 30px;
                            position: relative;
                            top: 48px;
                            left: -39px;">
                        <i class="fas fa-plus-circle text-pinch"></i>
                    </button>
                </div>


                {%endif%}

            </div>

            <p class="fw-bold h6 text-center text-muted my-1">{{user.first_name}} {{user.last_name}}</p>


            <p class="fw-light text-center text-pinch my-1">{{user.email}}</p>
            
            <p class=" text-center text-pinch my-1 mt-3">Points: <span class="fw-bold"> {{total_upvotes}}</span></p>
            <p class="text-center text-pinch my-1">Replies: <span class="fw-bold"> {{total_replies}}</span></p>
            <p class="text-center text-pinch border rounded-3 p-2 my-1 col-lg-6 col-md-4 col-sm-4 col-4 mx-auto h5">APR
                <span class="fw-bold text-success">89</span></p>
                <button type="button" class="btn btn-white" data-bs-toggle="modal" data-bs-target="#exampleModal1"
                style=" font-size: 15px;
                    position: relative;
                    top: 40px;
                    left: 285px;">
                <i class="fas fa-edit text-secondary"></i>
            </button>

                <div class="border mx-2 p-4  rounded-3">
                   
                    <h5 class="fw-light">About</h5>
                    {% if request.user.description == Null %}
                    <p class="mt-2 text-secondary">Write about yourself.....
                    </p>
                    {%else%}
                    <p class="mt-2 fw-light text-justify">{{request.user.description}}
                    </p>
                    {%endif%}


                </div>
              
                <button type="button" class="btn btn-white" data-bs-toggle="modal" data-bs-target="#exampleModal2"
                style=" font-size: 15px;
                    position: relative;
                    top: 40px;
                    left: 285px;">
                <i class="fas fa-edit text-secondary"></i>
            </button>
                <div class="border  mx-2 p-4 rounded-3">
                    <h5 class="fw-light">Skills</h5>
                    {% for i in userskill %}
                    <p>{{i.skill.skill}} - {{i.level}}</p>
                  {%endfor%}
                </div>
            <div class="d-flex justify-content-center">
                <a href="{% url 'dpapp:adddoubt' %}"
                    class="btn btn-doubt text-light mt-2 col-lg-12 col-md-6 col-sm-6 col-6 mx-auto bg-purple">Post a
                    question</a>
            </div>

        </div>
       
    </div>

    <!-- end Body -->




    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Profile Picture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="">Current:</label>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        
                        <img src="/media/{{form.profile_pic.value}}" alt="pic" height="200" width="200" class="img-thumbnail">
                        {{form|bootstrap}}
                        <!-- <textarea id="summernote" name="editordata" required></textarea> -->


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn bg-purple text-white">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end profile modal -->
    <!-- start desc modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Describe Yourself: </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'accounts:user_desc' %}">
                        {% csrf_token %}
                    <textarea class="form-control" placeholder="write about yourself..." rows="7" maxlength="500" id="floatingTextarea" name="desc" >{{request.user.description}}</textarea>
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn bg-purple text-white">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end desc modal -->
    <!-- start skills modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Your Skills: </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for i in userskill %}
                    <div class="  col-lg-8 mx-auto my-2">
                        <div class="row">
                            <div class="col-lg-4 mx-2 border text-center">
                                <p class="fw-light ">{{i.skill.skill}}</p>
                            </div>
                            <div class="col-lg-6  border text-center">
                                <p class="fw-light">{{i.level}}</p>
                            </div>
                            <div class="col lg 2">
                                <a class="text-secondary" href=""><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                   
                    
                    <hr>
                    <form method="POST" action="{% url 'accounts:user_skill' %}">
                        {% csrf_token %}
                    <div class="row col-lg-12 mx-auto"> 
                       
                        <div class="col-md-6">
                            <input list="skills" name="skill" placeholder="Choose Skill"required>
                            <datalist id="skills" id="" >
                                {% for i in skill %}
                                <option value="{{i}}">
                                {%endfor%}
                            </datalist>
                        </div>
                        <div class="col-lg-3">
                            <select name="level" id="" required style="height: 30px;">
                                <!-- <option value="">Choose level</option> -->
                                <option value="Beginner">Beginner</option>
                                <option value="Intermediate">Intermediate</option>
                                <option value="Expert">Expert</option>
                            </select>
                         </div>
                        <div class="col-lg-3">
                        <button type="submit" class="btn btn-success btn-sm">Add</button>
                        </div>
                    </div>
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-purple text-white" data-bs-dismiss="modal">Save changes</button>
                   
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end skills modal -->

    {% if recent_activity.paginator.num_pages > 1 %}
    <div class="demo">
        <nav class="pagination-outer" aria-label="Page navigation">
            <ul class="pagination">
                {% if recent_activity.has_previous %}
                {% if 'heading_contains' in request.get_full_path %}
                <li class="page-item">
                    <a class="page-link" href="{{ request.get_full_path }}&page={{ recent_activity.previous_page_number }}" tabindex="-1" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a  class="page-link" href="?page={{ recent_activity.previous_page_number }}" tabindex="-1" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                {% endif %}

                {% else%}
                <li class="page-item disabled">
                    <a href="#" class="page-link"  tabindex="-1" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                {% endif %}
                {% for i in recent_activity.paginator.page_range %}
                {% if i == recent_activity.number%}
                <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                {% else %}
                    {% if 'heading_contains' in request.get_full_path %}  
                    <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page={{ i }}">{{ i }}</a></li>
                    {% else %}
                    <li class="page-item "><a class="page-link"  href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endif %}
                {% endfor %}

                {% if recent_activity.has_next %}
                {% if 'heading_contains' in request.get_full_path %}
                <li class="page-item">
                    <a class="page-link" aria-label="Next" href="{{ request.get_full_path }}&page={{ recent_activity.next_page_number }}">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" aria-label="Next" href="?page={{ recent_activity.next_page_number }}">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
                {%endif%}
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Next" href="#">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
                {%endif%}


            </ul>
        </nav>
    </div>
    {%endif%}
</div>

{% endblock %}