
{% extends 'dpapp/base.html' %}
{% load static %}

        <title>{% block title%}Tags {% endblock title%}</title>
        {% block navbar%}
        <link rel="stylesheet" href="{% static 'dpapp/css/paginate.css' %}">

        <div class="container">
            <!-- Searchbar -->
            <!-- <form class="d-flex mt-3" method="GET" action="/app/search">
                <input class="form-control me-2 fs-5 fw-light" type="search" placeholder="Search doubts" name="query" 
                    aria-label="Search">
                <button class="btn btn-info text-light fw-bold" type="submit">Search</button>
            </form> -->
            <!-- End of search bar -->
            <!-- Body -->
            <div class="row mt-3 ">
                <div class="col border shadow-sm p-3 mx-3 mb-3">
                    <p class="fw-light fs-4 text-center">{{counted}} related results for tag : '{{tagname}}'</p>
                    {% for i in doubts %}

                    <div class="mt-1">
                        <div class="bg-light mt-2 p-3 rounded-3  ">
                            <a href="{% url 'dpapp:detail' i.id %}" class="text-decoration-none">
                            <p class="h6 text-dark mb-3">{{i.title}}</p>
                            <small class="text-muted">Posted by: <span class="fs-6 text-pinch">{{i.user.first_name}} {{i.user.last_name}}</span></small><br>
                            <small class="text-muted">{{i.created_on}} | {{i.total_replies}} replies | {{i.views}} views</span></small>
                            </a>
                            <p>tags: {% for tag in i.tags.all %}
                                <a href="{% url 'dpapp:tags' tag.slug %}"><span class="badge rounded-pill bg-purple fw-normal">{{tag.name}}</span></a>
                                {%endfor%} </p>
                        </div>
                    </div>
                    {% endfor %}
    
                </div>
              
            </div>

            <!-- end Body -->

            <!-- Footer -->
            {% if doubts.paginator.num_pages > 1 %}
         
                <nav class="pagination-outer" aria-label="Page navigation">
                    <ul class="pagination">
                        {% if doubts.has_previous %}
                        {% if 'query' in request.get_full_path %}
                        <li class="page-item">
                            <a class="page-link" href="{{ request.get_full_path }}&page={{ doubts.previous_page_number }}" tabindex="-1" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a  class="page-link" href="?page={{ doubts.previous_page_number }}" tabindex="-1" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        {% endif %}

                        {% else%}
                        <li class="page-item disabled">
                            <a href="#" class="page-link"  tabindex="-1" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for i in doubts.paginator.page_range %}
                        {% if i == doubts.number%}
                        <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                        {% else %}
                            {% if 'query' in request.get_full_path %}  
                            <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page={{ i }}">{{ i }}</a></li>
                            {% else %}
                            <li class="page-item "><a class="page-link"  href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endif %}
                        {% endfor %}

                        {% if doubts.has_next %}
                        {% if 'query' in request.get_full_path %}
                        <li class="page-item">
                            <a class="page-link" aria-label="Next" href="{{ request.get_full_path }}&page={{ doubts.next_page_number }}">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" aria-label="Next" href="?page={{ doubts.next_page_number }}">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                        {%endif%}
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Next" href="#">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                        {%endif%}


                    </ul>
                </nav>
    
            {%endif%}
            <!-- End pagination -->
        </div>
{% endblock %}
