{% extends 'accounts/base.html' %}
    {% load static %}
    {% load bootstrap %}

        <title>{% block title%}ResetDone|DoubtPinch{% endblock %}</title>
        {% block navblock%}
   
        <!-- Content  -->
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 d-lg-block d-sm-none d-none " data-tilt>
                    <img src="{% static 'sent.jpg'%}" width="400" alt="pic">

                </div>
                <div class="col-lg-6 col-md-10 col-sm-12 col-12  rounded-3 p-4 shadow mb-5">
                    <p class="fw-light fs-4 text-center text-dark">Link sent successfully.</p>
                    <br>
                    <p class="fw-light fs-6 text-center text-dark">We have sent you password reset link to the email you provided. Click the link to access password reset form.</p>
                    
                    <div class="d-flex justify-content-center mt-4 mb-4" data-tilt>
                        <a type="button" href="https://outlook.office.com/mail/"
                            class="btn btn-danger col-md-4 col-sm-4 col-4 mx-auto fw-light">Open mail</a>
                    </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- End content -->
        {% endblock %}

        {% block script %}
        {% endblock %}


       
    </body>

</html>