<!doctype html>
<html lang="en">
    {% load static %}
    {% load bootstrap %}

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <title>Login|LinkSend</title>
    </head>
    <style>
        ::-webkit-input-placeholder {
            text-align: center;
        }

      .form-group label{
          display: none;
      }
    </style>

    <body>
        <!-- Navbar  -->
        <nav class="navbar navbar-light bg-light">
            <div class="ms-4" data-tilt >
                <a class="navbar-brand" href="">
                    <img src="{% static 'accounts/pics/logo.png' %}" alt="" width="190" height="80">

                </a>
            </div>
        </nav>
        <!-- end of Navbar -->
        <!-- Content  -->
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 d-lg-block d-sm-none d-none " data-tilt>
                    <img src="{% static 'sent.jpg'%}" width="400" alt="pic">

                </div>
                <div class="col-lg-6 col-md-10 col-sm-12 col-12  rounded-3 p-4 shadow mb-5">
                    <p class="fw-light fs-4 text-center text-dark">Link sent successfully.</p>
                    <br>
                    <p class="fw-light fs-6 text-center text-dark">We have sent you password reset link to the email you provided. Click the link to access password reset form.</p>
                    
                    <div class="d-flex justify-content-center mt-4 mb-4" data-tilt>
                        <a type="button" href="https://outlook.office.com/mail/"
                            class="btn btn-danger col-md-4 col-sm-4 col-4 mx-auto fw-light">Open mail</a>
                    </div>

                   
                   
                  
                  

                        
            

                    </div>
                </div>

            </div>
        </div>
        <!-- End content -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        



        <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    </body>

</html>